/*variables*/
:root {
    --white: white;
    --font: sans-serif;
}

/*global settings for page*/
* {
    background-color: black;
}

/*settings for header*/
.header {
    color: var(--white);
    font-family: var(--font);
}

.header h1 {
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
}

/*settings for navigation list*/

/* still not working how i want it too*/
.nav-list {
    display: flex;
    gap: 1rem;

    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-list li {
    display: inline-flex;
    flex-grow: 1;
    flex-shrink: 1;
}
/*--------------------------------------*/


/* container box settings for content section*/
.about-me-container,
.projects-container {
    border: 15px solid white; border-style: groove;
    width: 450px;
    height: 500px;
    padding: 15px;
    float: left;
    display: flex;
}
  
.contact-container,
.CV-container {
    border: 15px solid white; border-style: groove;
    width: 450px;
    height: 500px;
    padding: 15px;
    margin: auto;
    display: flex;
    float: left;
}


/*settings for main content*/
.content {
    color: var(--white);
    font-family: var(--font);
    text-align: center;
}

.contentinfo h2 {
    text-decoration: underline;
}

/*settings for section - currently placeholder*/
.placeholder{
    color: var(--white);
    font-family: var(--font);
    text-align: center;
}

/*settings for footer*/
.footer{
    color: var(--white);
    text-align: center;
    font-family: var(--font);
}

/* TO-DO!! responsive screen settings- used to resize for all screens*/
@media screen and (max-width: 768px) {
    .contentinfo {
      width: 100%;
    }
}    