/*variables*/
:root {
    --white: white;
    --font: sans-serif;
}

/*global settings for page*/
* {
    background-color: black;
}

/*settings for header*/
.header {
    color: var(--white);
    font-family: var(--font);
    background-color: blue;
}

.header h1 {
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
    background-color: blue;
    padding-top:40px;
}

/*settings for navigation list*/

/* still not working how i want it too*/
.nav li {
    display: inline-flex;
    padding: 50px;
    font-size: 20px;
}


/*--------------------------------------*/


/* container box settings for content section - ungrouped to work on positioning*/
.about-me-container {
    border: 15px solid white; border-style: double;
    width: 450px;
    height: 1530px;
    padding: 15px;
    display: inline-flexbox; float: left;
    position: static;
}



.projects-container {
    border: 15px solid white; border-style: groove;
    width: 850px;
    height: 500px;
    position: relative; left: 510px;
}

  
.contact-container {
    border: 15px solid white; border-style: groove;
    width: 850px;
    height: 500px;
    position: relative; left: 510px;
}

.CV-container {
    border: 15px solid white; border-style: groove;
    width: 850px;
    height: 500px;
    position: relative; left: 510px;
}

.project-info h2 {
text-decoration: underline;
}

.calculator {
    border: 15px solid white; border-style: groove;
    width: 450px;
    height: 550px;
    padding: 15px;
}

.slideshow {
    border: 15px solid white; border-style: groove;
    width: 450px;
    height: 550px;
    padding: 15px;
}

.quiz {
    border: 15px solid white; border-style: groove;
    width: 450px;
    height: 550px;
    padding: 15px;
}

.gymTracker {
    border: 15px solid white; border-style: groove;
    width: 450px;
    height: 550px;
    padding: 15px;
}

/*------------------------------------------------------------*/

/*settings for main content*/
.content {
    color: var(--white);
    font-family: var(--font);
    text-align: center;
} 

.contentinfo h2 {
    text-decoration: underline;
}

/*settings for section - currently placeholder*/
.placeholder{
    color: var(--white);
    font-family: var(--font);
    text-align: center;
}

/*settings for footer*/
.footer h4 {
    color: var(--white);
    text-align: center;
    font-family: var(--font);
    padding: 20px;
    background-color: blue;

}

/* TO-DO!! responsive screen settings- used to resize for all screens*/
@media screen (max-width: 600px) {
    .content {
        display: row;
        width: 100%;
    
    .project-info {
        direction: row;
        width: 100%;
    }
}